<div class="login_container">
<div class="box">
    <div class="main_content">
      <h1>Log in</h1>
      <%= form_tag login_path do %>
        <div class="field">
          <label>Usuário</label><br/>
          <%= text_field_tag :nickname, params[:nickname], autofocus: true %>
        </div>
        <div class="field">
          <label>Senha</label><br/>
          <%= password_field_tag :password, params[:password] %>
        </div>
        <div class="actions"><%= submit_tag "Entrar no sistema" %></div>
      <% end %>
    </div>
</div>
</div>