<% content_for :head do %>
<%= stylesheet_link_tag  "ui-lightness/jquery-ui-1.10.3.custom", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "jquery-ui-1.10.3.custom.min", "data-turbolinks-track" => true %>
<% end %>
<h2>Chamadas em aberto</h2>
<table class="tbdata">
  <thead>
    <tr>
      <th>Prioridade</th>
      <th>Data/Hora</th>
      <th>Departamento</th>
      <th>Servidor</th>
      <th>Problema</th>
      <th>Descrição do problema</th>
      <th></th>
    </tr>
  </thead>

  <tbody class="calls">
    <% @calls.each do |call| %>
      <%= render call %>
    <% end %>
  </tbody>
</table>