<div class="calls_banner">
  <div class="container">
    <ul>
      <li class="follow_call"><a href="#">Acompanhar Chamada</a></li>
      <li class="create_call"><%= link_to 'Realizar Chamada', new_call_path %></li>
    </ul>
  </div>
</div>