$bg: #435B6D;
$bgc: #f9f9f9;
$advice: #BEE8FF;

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body{
  margin: 0 auto;
  background: $bg;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #555;
}

a{
  text-decoration: none;
}

.container, .center_container{
  float: left;
  width: 100%;
}

.center_container{
  text-align: center;
}

.notice{
  width: 40%;
  position: fixed;
  top: 0;
  left: 30%;
  background: #2F6BB1;
  border-radius: 0 0 3px 3px;
  color: #fff;
  height: 40px;
  padding: 10px 0;
  text-align: center;
}

footer{
  font-size: 12px;
  color: #777;
  text-align: center;
  margin: 30px 0;
  float: left;
  width: 100%;

  a{
    color: #777; 
    text-decoration: underline;
  }
}

input, select, textarea{
  font-size: 16px;
  padding: 5px;
}

input, textarea{
  border: 1px solid #999;
  border-radius: 3px;
}

// ==================
//   DEFAULT LAYOUT
// ==================

#wrapper{
  width: 100%;
  margin: 0 auto;

  footer{
    color: hsla(0, 100%, 100%, .7);

    a{
      color: hsla(0, 100%, 100%, .7);
    }
  }

  .login_container{
    margin: 0 auto;
    width: 30%;
    text-shadow: 0 1px 0px #fff;
    color: #0062d5;

    .box{
      float: left;
      background: #d9d9d9;
      width: 100%;
      padding: 10px;
      border-radius: 5px;
    }

    .field{
      margin: 0 0 10px 0;
    }

    input[type="text"], input[type="password"]{
      width: 100%;
      font-size: 20px;
    }
  }


  .warning, .advice{
    border-radius: 5px;
    text-align: center;

    .emphasis{
      font-size: 25px;
      margin: 10px;

      img{
        margin: 4px 0 -4px 0;
      }
    }
  }

  .warning{
    background: #FFEB00;
    border: 1px solid #CF9731;
    color: #AD7E26;
    padding: 10px;
    width: 85%;
    margin: 0 auto;
  }

  .advice{
    background: $advice;
    border: 1px solid rgba($bg, .4);
    color: $bg;
    float: left;
    margin: 10px 0;
    width: 92%;
    padding: 10px 0;
  }

  header{
    width: 100%;
    margin: 0 0 30px 0;
    height: 50px;
    background: $bgc;
    clear: both;
    background: #364753;
    color: #fff;

    nav{
      float: left;
      margin: 0 20px 0 50px; 

      li{
        display: inline;

        a{
          line-height: 50px;
          padding: 0 10px;
          float: left;
        }

        a:hover{
          background: rgba(#fff, 0.15);
        }
      }
    }

    h1{
      float: left;
      margin: 0;
      padding: 0;
      font-size: 16px;
      font-weight: normal;
      line-height: 50px;
    }

    .logo img{
      float: left;
      margin: 7px 10px 0 0;
    }

    .container{
      float: none;
      margin: 0 auto;
      width: 94%;
    }

    a, a:visited{
      color: #fff;
    }

    .technical_session{
    	float: right;
    }

    .logout, .login{

      img{
        float: left;
        margin: 16px 5px 0 0;
      }
    }

    .logout:hover{
    	background: rgba(#fff, 0.15)
    }
  }

  #main_content{
    background: $bgc;
    clear: both;
    width: 93%;
    margin: 0px auto;
    border-radius: 5px;
    padding: 15px;
    overflow: auto;
  }


  // ===========
  // NEW CALL

  .left_content, .right_content{
    width: 48.7%;
    float: left;
    margin: 0;

    form{
      width: 92%;
    }
  }

  .right_content{
    width: 50%;
  }

  .info, .ok{
    padding: 10px;
    border-radius: 5px;
    text-shadow: 0 1px 0px hsla(0,100%, 100%, .5);

    ul{
      margin: 0;
      padding: 0 0 0 15px;

      li{
        margin: 0 0 15px 0;
      }
    }
  }

  .info{
    background: #B5E7B5;
    color: #008080;
    margin: 0 0 15px 0;
  }

  .ok{
    background: $advice;
    color: $bg;
    border: 1px solid rgba($bg, .4);
  }

  .equipment, .problem, .actions{
    float: left;
    width: 100%;
  }

  .servant, .dpto{
    float: left;
    width: 200px;
  }

  .servant, .dpto, .equipment, .service{
    margin: 0 0 24px 0;
  }

  .dpto select{
    width: 100%;
  }

  .equipment select{
    width: 100%;
  }

  .problem textarea, .service textarea{
    width: 100%;
    height: 200px;
  }

  .actions{
    margin: 10px 0;
    input, a{
      color: #fff;
      cursor: pointer;
      border-radius: 3px;
      background-color: #0062d5;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#0062d5), to(#134782));
      background-image: -webkit-linear-gradient(top, #0062d5, #134782);
      background-image:    -moz-linear-gradient(top, #0062d5, #134782);
      background-image:      -o-linear-gradient(top, #0062d5, #134782);
      background-image:         linear-gradient(to bottom, #0062d5, #134782);
      padding: 10px;
      border: none;
    }

    input:hover, a:hover{
      background-color: #4188d9;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#4188d9), to(#134782));
      background-image: -webkit-linear-gradient(top, #4188d9, #134782);
      background-image:    -moz-linear-gradient(top, #4188d9, #134782);
      background-image:      -o-linear-gradient(top, #4188d9, #134782);
      background-image:         linear-gradient(to bottom, #4188d9, #134782);
    }

  }

}

// ==================
//      WELCOME
// ==================

#wrapper_welcome{
  background: $bgc;
  width: 100%;
  float: left;
  min-height: 100%;
  height: 100%;

  header{
    margin: 20px 0 -30px 0;
    text-align: center;
  }

  .calls_banner{
    float: left;
    width: 100%;
    height: 350px;
    background: $bg;
    text-align: center;
    line-height: 350px;
    margin-top: 80px;

    .container{
      width: 100%;
      padding: 0;
      margin: 80px auto;
      text-align: center;
    }

    ul{
      margin: 0 auto;
      padding: 0;
      display: inline-block;
      list-style-type: none;
    }

    li{
      float: left;
      margin: 0 0 20px 0;
    }

    a{
      float: left;
      font-size: 30px;
      color: #fff;
      width: 400px;
      min-height: 120px;
      text-align: center;
      line-height: 120px;
      border-radius: 5px;
      border-top: 1px solid hsla(0, 100%, 100%, 0.4);
      box-shadow: 2px 2px 0 hsla(0, 0%, 0%, 0.3);
    }

    a:active{
      border: 1px solid hsla(0, 100%, 100%, 0.4);
      border-top: none;
      border-left: none;
      box-shadow: 3px 3px 0 hsla(0, 0%, 0%, 0.3) inset;
    }

    .follow_call, .create_call{
      text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.5);
    }

    .follow_call a{
      background: #C5A439;
      margin: 0 80px 20px 0;
    }

    .create_call a{
      background: #56AA56;
    }

    .follow_call a:hover{
      background: #CEB25A;
      margin: 0 80px 20px 0;
    }

    .create_call a:hover{
      background: #6AB46A;
    }
  }
  
}

// ==================
//     TECHNICAL
// ==================
.fields{
	float: left;
	background: #ebebeb;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	text-shadow: 0 1px 0px #fff;
	width: 100%;

	.field{
		float: left;
		margin: 0 15px 15px 0;
		width: 23%;
		input, label{
			float: left;
		}

		label{
			margin: 0;
		}

		input{
			margin: 10px 0 0 0;
			width: 100%;
		}

		
	}
}

// ==================
//       FOLLOW
// ==================

.follow_form{
  padding: 10px 0 0 10px;
  float: left;
  width: 100%;
  background: #E6E6E6;
  border-radius: 5px;
  color: #555;
  text-shadow: 0 1px 0px #FFF;
  margin: 0 0 10px 0;
}

.empty_box{
  float: left;
  width: 100%;
  margin: 10px 0;
  padding: 50px 0;
  text-align: center;
  background: #ededed;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #777;
  font-weight: bold;
  text-shadow: 0 1px 0px #fff;
}