// =============
// TABLE

table{
  text-shadow: 0 1px 0px #fff;
  border-spacing: 0;
  border: 1px solid #9FC8D8;
  border-radius: 5px;
  width: 100%;
  margin: 10px 0;

  thead{
    width: 100%;
    background: #9FC8D8;
  }

  th{
    
    text-align: left;
    color: #496279;
    text-shadow: 1px 1px 0px #D4EBF1;
    border: 0;
    border-bottom: 1px solid #9FC8D8;
    margin: 0;
    padding: 10px 0 10px 5px;
    min-width: 150px;
  }

  th:first-child{
    border-radius: 5px 0 0 0;
    min-width: 100px;
  }

  th:last-child{
    border-radius: 0 5px 0 0;
    min-width: 80px;
    float: left;
    display: inherit;
  }

  tbody{
    border: 1px solid #9FC8D8;

    width: 99%;

    td{
      padding: 10px 0 10px 5px;
      border-right: 1px solid #9FC8D8;
      border-top: 1px solid #ffffff;
      border-bottom: 1px solid #9FC8D8;
      min-width: 100px;
    }

    tr:hover, tr:nth-child(2n):hover{
      background: papayawhip;
    }

    tr:last-child td{
      border-bottom: none;
    }

    td:last-child{
      border-right: none;
      display: block;
      min-width: 80px;
    }
  
    tr:nth-child(2n){
      background: #EDF5F8;
    }

    tr:nth-child(2n+1){
      border-top: 1px solid #ffffff;
      border-bottom: 1px solid #9FC8D8;
    }

    tr{
      max-height: 100px;
      border-bottom:1px solid #e0e0e0;
    }

    .danger_p, .warning_p, .normal_p, .low_p{
      text-align: center;
      border-radius: 5px;
      border: 1px solid rgba(black, .4);
      padding: 8px;
      width: 95%;
      float: left;
    }


    .danger_p{
      background: #722A20;
      color: #FFF;
      text-shadow: 0 -1px 0px rgba(black, .4);  
    }

    .warning_p{
      background: #FF8F00;
      color: #FFF;
      text-shadow: 0 -1px 0px rgba(black, .4);
    }

    .normal_p{
      background: #3973B8;
      color: #FFF;
      text-shadow: 0 -1px 0px rgba(black, .4);
    }

    .low_p{
      background: #dedede;
      color: #555;
      text-shadow: 0 1px 0px rgba(white, .4);  
    }

    // yellow tr
    .call_warning:nth-child(2n), .call_warning:nth-child(2n+1){
      background: #FFEB00;
    }

    .call_warning:nth-child(2n):hover, .call_warning:nth-child(2n+1):hover{
      background: #FADF8A;


    }

    // red tr
    .call_danger:nth-child(2n), .call_danger:nth-child(2n+1){
      background: #C93434;
      color: #fff;
      text-shadow: 0 -1px 0px rgba(black, .5);

    }

    .call_danger:nth-child(2n):hover, .call_danger:nth-child(2n+1):hover{
      background: #E7ABAB;
      color: #333;
      text-shadow: 0 1px 0px rgba(white, .5);
    }

  }

}

.technical_table{
  width: 80%;

  thead{

    th:first-child{
      width: 50%;
    }

    th:nth-child(2){
      width: 100px;
    }

    th:nth-child(3){
      width: 100px;
    }

    th:last-child{
      min-width: 110px;
    }
  }

  tbody{

    td:last-child{
      width: 110px;
    }

    td{
      padding: 5px 0 5px 5px;
    }
  }
}